@charset "utf-8";
/* 代码整理：懒人之家 */
.holder {
	overflow:hidden;
	width:320px;
	height:333px;
	float:left;
	position:relative;
	background-color:#000;
	margin-right:1px;
}
.holder .image {
	position:absolute;
	left:-100px;
}
.holder span {
	background-color:#333;
	font-size:27px;
	font-family:Arial, Helvetica, sans-serif;
	color:#dedede;
	font-weight:700;
	padding:4px;
	position:absolute;
	top:120px;
	left:4px;
}
.holder .text {
	padding:20px;
	display:none;
	font-family:Arial, Helvetica, sans-serif;
	line-height:26px;
	position:absolute;
	top:180px;
	font-size:16px;
	color:#fff;
	width:340px;
}
.clear {
	clear:both;
}
.main {
	width:1000px;
	height:333px;
	margin:0 auto;
	overflow:hidden;
}
.credit {
	font-size:12px;
	margin-top:25px;
}
/* 代码整理：懒人之家 */
